
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: .5px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;

}
.main-section{
    height: 450px;
    width: 50%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow-y: auto;
}
#input{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #7462ff ;
    color: aliceblue;
    padding: 0 10px;
    margin: 5px 0;
}
::-webkit-input-placeholder{
    color: aliceblue;
}
#button{
    height: 50px;
    width: 50%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #6f65be ;
    color: aliceblue;
    padding: 0 10px;
    margin: 15px 0;
    padding: 0 10px;
    margin: 15px auto; 
    display: block; 
}
#errorMes {
    display: block;
    background: #f2dede;
    width: 95%;
    margin: 0px auto;
    color: rgb(139, 19, 19);
    padding: 10px;
    height: 35px;
}
.show-todo-section{
width: 100%;
background: #fff;
margin: 30px auto;
padding: 10px;
border-radius: 5px;
}
.todo-item{
    width: 95%;
    margin: 10px auto;
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 #ccc , 0 6px 20px 0 ;
    border-radius: 5px;
}
.todo-item h2{
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
    color: #555;
}
.todo-item small {
    display: block;
    width: 100%;
    padding: 5px 0px;
    color: #888;
    padding-left: 30px;
    font-size: 14px;
}
.remove-to-do{
    display: block;
    float: right;
    height: 50px;
    width: 20%;
    margin-left: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #695fb4;
    color: aliceblue;
    padding: 0 10px;
    cursor: pointer;
}
.remove-to-do:hover {
    background: rgb(139, 97, 93);
    color: #fff;
}
.checked {
    color: #999 !important;
    text-decoration: line-through;
}
.todo-item input {
    margin: 0px 5px;
}
